.profile {
    display: block;
    width: 80%;
    margin: 0 auto;

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        color: blueviolet;
    }

    &__title {
        color: blueviolet;
        font-size: 34px;
    }

    &__form {
        margin-bottom: 100px;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__title-group {
        width: 40%;
        display: flex;
        flex-direction: row;
    }

    &__input-title {
        color: blueviolet;
        padding-right: 10px;
        padding-top: 20px;
        text-align: center;
    }

    &__input {
        border: 2px solid blueviolet;
        margin-top: 10px;
        outline-color: none;
        border-radius: 10px;
        height: 30px;
        outline: none;
        width: 100%;
        flex-wrap: wrap;
        padding: 5px;
    }

    &__content-group {
        width: 60%;
        display: flex;
        flex-direction: row;
    }

    &__textarea {
        border: 2px solid blueviolet;
        margin-top: 10px;
        outline-color: none;
        border-radius: 10px;
        min-height: 150px;
        outline: none;
        width: 100%;
        flex-wrap: wrap;
        padding: 10px;
    }

    &__submit-button {
        display: block;
        height: 40px;
        width: 20%;
        border-radius: 10px;
        border: 2px solid blueviolet;
        color: blueviolet;
        background-color: rgb(234, 194, 247);
        margin-top: -40px;
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        &:hover{
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            transform: translateY(-2px);
        }
    }

    &__no-content {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 70px;
        color: blueviolet;
    }

    &__posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        list-style: none;
    }
}

.post {
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: 20px;
    width: 220px;

    &__title {
        padding: 0;
    }

    &__content {
        word-break: break-word;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        border-radius: 10px;
        border: 1px solid blueviolet;
        color: blueviolet;
        background-color: inherit;
        padding: 4px 10px;
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        &:hover {
            background-color: rgb(234, 194, 247);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            transform: translateY(-2px);
        }
    }
}